html, body {
  height: 100%;
}

body {
  display: flex;
  overflow: hidden;
  background-color: #333;
}

.passive {
  justify-content: center;
  align-items: center;
}

.active {
  align-items: stretch;
}

#logo {
  width: 512px;
  height: 512px;
  background-image: url(./icon_512x512.png);
  background-repeat: no-repeat;
  display: flex;

  h1 {
    flex: 1;
    text-align: center;
    font-family: 'Droid Sans Mono';
  }
}

.not-visible {
  display: none !important;
}

#editor {
  margin: 0;
  align-self: stretch;
  flex: 1;
}

.editor-rect {
  flex: 1;
  display: flex;
}

.editor-toolbar {
  height: 30px;
}

#editor-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
