body, html {
  background-color: #ECEFF1;
  font-family: 'Roboto';
}

body {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  margin: 0;
  padding: 0;
}

header {
  padding: 16px;
  height: 64px;
  line-height: 64px;
  display: flex;
  align-items: center;
  background-color: #8BC34A;
}

img {
  width: auto;
  height: 100%;
  margin: 0 16px;
}

h1 {
  flex: 1;
  font-size: 64px
}

fieldset {
  border: 0;
  margin-top: 16px;
}

legend {
  border-bottom: 1px solid #CCC;
  width: 100%;
  display: block;
}

#fonts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#themes {
  justify-content: flex-start;
}

#themes > paper-radio-button {
  width: 230px;
}

#back,
#back .style-scope.paper-icon-button {
  width: 64px;
  height: 64px;
  padding: 0;
  margin-right: 16px;
}