body, html {
  background-color: #ECEFF1;
  font-family: 'Roboto';
}

body[unresolved] {
  background-color: #333;
}

fieldset {
  border: 0;
  margin-top: 16px;
}

legend {
  border-bottom: 1px solid #CCC;
  width: 100%;
  display: block;
}

#fonts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#themes {
  justify-content: flex-start;
}

#themes > paper-radio-button {
  width: 230px;
}
