html, body {
  background-color: #333;
  height: 100%;
}

body {
  overflow: hidden;
  font-family: Helvetica, Arial, sans-serif;
  user-select: none;
  cursor: default;
}

.card {
  width: 640px;
  height: 200px;
  margin-left: -320px;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
}

.card-icon {
  width: 200px;
  height: 200px;
}

.card-content {
  padding-left: 16px;
  flex: 1;
  color: #666;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.big {
  font-size: 76px;
}

.small {
  font-size: 24px;
}
